@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;

}
:root {
  font-size: 62.5%;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 1.6rem;
}

.logo {
  max-width: 60rem;
  margin-bottom: 2.4rem;
  width: 100%;
}
.logo,
.container-input,
.container-password {
  padding: 0 5rem;
}

.container-input {
  max-width: 48rem;
  margin: 1.4rem 0;
}

.container-input span {
  color: #fff;
  font-size: 2.2rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #dfdfdf;
  height: 1.8rem;
  outline: none;
  margin-top: 0.8rem;
}
input[type=range]::-webkit-slider-thumb {
    height: 2rem;
    width: 2rem;
    border-radius: 7px;
    background: #00bf72;
    cursor: pointer;
    -webkit-appearance: none;
   
  }

.button-cta {
  height: 4rem;
  background: #00bf72;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 4rem;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.container-password {
  max-width: 48rem;
  margin: 1.4rem 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.title {
  color: #fff;
  font-size: 2.8rem;

  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
}

.password {
  height: 6rem;
  background: #00000066;
  color: #fff;
  border-radius: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.1rem solid #00bf734b;

  transition: transform 0.3s;
}

.password:hover {
  transform: scale(1.02);
}

.tooltip {
  color: #fff;
  position: relative;
  top: 2rem;
  padding: 0.6rem 0.8rem;
  background: #1dad76;
  border-radius: 0.6rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.hide {
  display: none;
}

.container-password:hover .tooltip {
  visibility: visible;
  bottom: 5rem;
  opacity: 1;
}
